{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    {% if BUILT_JS %}
        <script src="{% static "js/built/static/js/utility/perlin.js" %}"></script>
        <script type="text/javascript" src="{% static "js/built/static/js/utility/TTPlot.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static "js/utility/TTPlot.js" %}"></script>
        <script src="{% static "js/utility/perlin.js" %}"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script> -->
{% endblock extra_head %}

{% block content %}
    <div class="ui container">
    {% if not object.published %}
        <h1 style="font-size: 45px; color: red; margin: 15% auto;">This article remains unpublished!</h1>
    {% endif %}

        <div class="ui centered container heading fixed-width" >
            <div class="ui centered rounded image">
                <img id="heading-image" src="{{ object.thumbnail.url }}">
            </div>
            <h1 class="ui header">
                {{ object.title }}
            </h1>
            <div class="ui content">
                <p class="description">
                    {{ object.abstract }}
                </p>
                <div class="extra">
                    {{ object.publish_date }}
                </div>
            </div>
        </div>
        <div class="ui horizontal divider"></div>
        <div class="ui centered container">
            <div id="main-content" class="ui content fixed-width"></div>
        </div>

        {% if next_article %}
            <div class="ui centered grid">
                <div class="five wide column">
                    <a class="ui fluid large black button" id="next-button" href="{% url "articles:detail" slug=next_article.slug %}">Next -> {{ next_article.title }}</a>
                </div>
            </div>
        {% endif %}

    </div>

    <style>
        #next-button {
            margin-bottom: 8em;
        }

        .heading {
            margin-top: 20vh;
            width: 50vw !important;
        }

        #heading-image {
            max-height: 45vh;
            width: auto;
        }

        #main-content {
            margin: 40px auto 120px auto;
            font-size: 1.3em;
        }

        .fixed-width {
            width: 75% !important;
        }

        pre code {
            border-radius: 8px;
        }

        .centered-ellipsis {
            font-size: 2.0em;
            letter-spacing: 1.5em;
            text-align: center;
            margin: 40px auto 50px auto;
        }

        .article-canvas-container {
            display: flex;
            justify-content: center;
            margin: 70px;
        }

        .two-article-canvas-container {
            display: flex;
            justify-content: space-between;
            margin: 70px 0 70px 0;
        }

        .tiny-article-canvas {
            height: 300px;
            width: 300px;
            border-radius: 4px;
            box-shadow: 5px 10px 8px;
        }

        .small-article-canvas {
            height: 380px;
            width: 380px;
            border-radius: 4px;
            box-shadow: 5px 10px 8px;
        }

        .medium-article-canvas {
            height: 450px;
            width: 450px;
            border-radius: 4px;
            box-shadow: 5px 8px 10px #333333;
        }

        .large-article-canvas {
            height: 550px;
            width: 550px;
            border-radius: 4px;
            box-shadow: 5px 10px 8px;
        }

        .huge-article-canvas {
            height: 700px;
            width: 700px;
            border-radius: 4px;
            box-shadow: 5px 10px 8px;
        }

        .article-image {
            width: 100%;
        }
    </style>

    <script>
        $(document).ready(function () {
            $.get('/static/markdown/{{ object.title }}.md', function (data) {
                rendered_markdown = marked(data)
                $('#main-content').html(rendered_markdown)
                hljs.initHighlighting()

                console.log('loading MathJax')
                var mathJax_script = document.createElement('script')
                mathJax_script.src = 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML'
                document.head.appendChild(mathJax_script)
                console.log('loaded MathJax')
            })
        })
    </script>
{% endblock content %}

{% block before_footer %}
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Are you sure you would like to delete this comment?
        </div>
        <div class="actions" style="display: flex; justify-content: center;">
            <div class="ui gray basic cancel inverted button">
                <i class="remove icon"></i>
                Do not Delete
            </div>
            <div class="ui red ok inverted button">
                <i class="checkmark icon"></i>
                Delete
            </div>
        </div>
    </div>
    <comment-section class="ui grid" csrf="{{ csrf_token }}"  author_id="{{ user.pk }}"article_id="{{ object.pk }}"></comment-section>
{% endblock before_footer %}
