{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="ui container">
    {% if not object.published %}
        <h1 style="font-size: 45px; color: red; margin: 40% auto;">This article remains unpublished!</h1>
    {% endif %}

        <div class="ui centered container heading">
            <div class="ui centered rounded image">
                <img id="heading-image" src="{{ object.thumbnail.url }}">
            </div>
            <h1 class="ui header">
                {{ object.title }}
            </h1>
            <div class="ui content">
                <p class="description">
                    {{ object.abstract }}
                </p>
                <div class="extra">
                    {{ object.publish_date }}
                </div>
            </div>
        </div>
        <div class="ui horizontal divider"></div>
        <div class="ui centered container">
            <div id="main-content" class="ui content"></div>
        </div>

    </div>

    <style>
        .heading {
            margin-top: 20vh;
            width: 50vw !important;
        }

        #heading-image {
            max-height: 45vh;
            width: auto;
        }
    </style>

    <script>
        $(document).ready(function () {
//            $('#main-content').load('{{ object.content_template_url }}')
        })
    </script>
{% endblock content %}

{% block before_footer %}
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Are you sure you would like to delete this comment?
        </div>
        <div class="actions" style="display: flex; justify-content: center;">
            <div class="ui gray basic cancel inverted button">
                <i class="remove icon"></i>
                Do not Delete
            </div>
            <div class="ui red ok inverted button">
                <i class="checkmark icon"></i>
                Delete
            </div>
        </div>
    </div>
    <comment-section class="ui grid" csrf="{{ csrf_token }}"  author_id="{{ user.pk }}"article_id="{{ object.pk }}"></comment-section>
{% endblock before_footer %}
