{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    {% if BUILT_JS %}
        <script src="{% static "js/built/static/js/utility/perlin.js" %}"></script>
    {% else %}
        <script src="{% static "js/utility/perlin.js" %}"></script>
    {% endif %}
{% endblock extra_head %}

{% block extra_js %}
    <script src="https://unpkg.com/scrollreveal"></script>
{% endblock extra_js %}

{% block content %}
    <div id="header-block">
        <div class="ui text container grid middle aligned">
            <div class="middle aligned row">
                <div class="eight wide centered column">
                    <div class="ui header">
                        <h1 class="content main-header">
                            Trefts
                        </h1>
                    </div>
                    <div class="ui header">
                        <h1 class="content main-header">
                            Technologies.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-background">
            <perlin></perlin>
        </div>
    </div>

    <div class="ui segment" id="topic-container">
        <div class="ui stackable three column grid">
            <div class="middle aligned row">
                <div class="two wide column">
                </div>
                <div class="ten wide center aligned column" id="color-block-container">
                    <h1 class="ui huge header invertible" id="topic-statement">
                        Software engineering services for the web and more.
                    </h1>
                </div>
                <div class="two wide column">
                </div>
            </div>
        </div>
    </div>

    <div class="ui container section-container" id="projects-container">
        <div class="ui centered container stackable three column grid">
            <div class="middle aligned row">
                <div class="five wide column">
                    <div class="ui invertible segment project-segment">
                        <div class="content">
                            <div class="header">
                                Perlin Noise
                                <div class="meta">
                                    August 1, 2019
                                </div>
                            </div>
                            <div class="description">
                                I implemented an easy-to-use JavaScript class for producing smooth noise data using the algorithm invented by Ken Perlin. This project
                                involved a small bit of linear algebra to produce a mind-boggling effect. I outline how the class was built in
                                <a class="project-link" href="{% url "articles:detail" slug=perlin_noise_article.slug %}">this article</a>.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui invertible segment project-segment">
                        <div class="content">
                            <div class="header">
                                Wave Equation Integrator
                                <div class="meta">
                                    November 12, 2019
                                </div>
                            </div>
                            <div class="description">
                                As an introduction to WebGl, I built an <a class="project-link" href="/webgl">interactive wave simulator</a>. It continuously solves the wave equation via a second-order, two-dimensional central difference scheme.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui invertible segment project-segment">
                        <div class="content">
                            <div class="header">
                                Ram-Air Parachute Descent Simulator
                                <div class="meta">
                                    December 20, 2019
                                </div>
                            </div>
                            <div class="description">
                                I designed the physical model for a realistic skydiving parachute descent in VR. I implemented the forces and physical properties, and used an external solver for integration.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container section-container" id="swt">
        <div class="ui centered container stackable four column grid">
            <div class="middle aligned row">
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id="python-icon" src="{% static 'icons/python.png' %}">
                    </div>
                </div>
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id='django-icon' src="{% static 'icons/django-logo-negative.png' %}">
                    </div>
                </div>
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id='javascript-icon' src="{% static 'icons/javascript.png' %}">
                    </div>
                </div>
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id='c++-icon' src="{% static 'icons/c++.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment" id="contact-segment">
        <div class="ui container section-container" id="contact-container">
            <div class="ui three column grid">

                <div class="seven wide column">
                    <form class="ui form" id="contact-form">
                        <div class="field">
                            <input type="text" name="name" placeholder="name">
                        </div>
                        <div class="field">
                            <input type="text" name="email" placeholder="email">
                        </div>
                        <div class="field">
                            <textarea name="message" placeholder="Begin typing message..."></textarea>
                        </div>
                        <input class="ui basic black button" type="submit" id="contact-submit-button">
                    </form>
                </div>

                <div class="one wide column"></div>

                <div class="eight wide column" id="contact-statement-column">
                    <h1 class="ui header">CONTACT ME</h1>
                    <p>If you believe that I may be able to help you with your work, please send me a message.</p>
                    <p id="contact-form-message"></p>
                </div>

            </div>
            <div class="ui inverted dimmer" id="contact-dimmer">
                <div class="ui loader"></div>
            </div>
        </div>
    </div>

    <script>

        const project_section = $('#projects-container')
        const window_height = $(window).height()

        $(window.document).ready( function () {
            ScrollReveal({delay: 60, reset: true})
            ScrollReveal().reveal('#topic-statement', {scale: 0.90})
            ScrollReveal().reveal('#contact-form', {distance: '200px', origin: 'left'})
            ScrollReveal().reveal('#contact-statement-column', {distance: '200px', origin: 'right'})


            const contact_form = $('#contact-form')
            const contact_form_message = $('#contact-form-message')
            const contact_dimmer = $('#contact-dimmer')

            contact_form
                .form({
                    fields: {
                        message: {
                            identifier: 'message',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter a message.'
                                }
                            ]
                        },
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type   : 'email',
                                    prompt : 'Please enter a valid email address.'
                                }
                            ]
                        },
                        name: {
                            identifier: 'name',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Please enter your name.'
                                }
                            ]
                        },
                    },
                })

            contact_form.submit( (ev) => {
                ev.preventDefault()
                contact_form.form('validate form')
                const data_array = contact_form.serializeArray()

                let data = {}
                for (field of data_array) {
                    data[field.name] = field.value
                }

                const contact_form_url = '{% url "api:contact_form" %}'

                if (contact_form.form('is valid')) {
                    contact_dimmer.addClass('active')
                    $.post(contact_form_url, data)
                        .done((resp) => {
                            contact_dimmer.removeClass('active')
                            contact_form_message.addClass('contact-form-message-success')
                            contact_form_message.removeClass('contact-form-message-failure')
                            contact_form_message.html("Thank you
                            for linking up! Check your email for
                            confirmation that I received your
                            message. Be sure to check your junk or spam
                            folder if you don't see it!.")
                        })
                        .fail( (err) => {
                            contact_dimmer.removeClass('active')
                            contact_form_message.removeClass('contact-form-message-success')
                            contact_form_message.addClass('contact-form-message-failure')
                            let text = ''
                            if (err.responseJSON === 'Invalid email.') {
                                text = 'Please try a different email address. This one is not valid.'
                            } else if (err.responseJSON === 'AuthenticationError') {
                                text = 'My server is having problems at the moment. Please try emailing me directly at bailey@treftstechnologies.com.'
                            } else if (err.responseJSON === 'No name.') {
                                text = 'Please send your name with the message.'
                            } else if (err.responseJSON === 'No message.') {
                                text = "Please don't send an empty message."
                            } else {
                                text = 'My server is having problems at the moment.'
                            }
                            contact_form_message.html(text)
                        })
                }
            })
        })

        $(window.document).scroll( function () {
            const project_scroll_position = project_section.position().top
            const window_fraction = 5
            const min_position = project_scroll_position - ((window_fraction - 1) * window_height / window_fraction)
            const max_position = min_position + 3 * window_height
            let scroll_position = $(window).scrollTop()
            if (scroll_position > min_position && scroll_position < max_position) {
                $('body').addClass('black-background')
                $('.invertible').addClass('white-font')
            } else {
                $('body').removeClass('black-background')
                $('.invertible').removeClass('white-font')
            }
        })

    </script>

    <style>
        body {
            transition: background-color 0.6s ease;
        }

        .contact-form-message-success {
            color: #188f25;
        }

        .contact-form-message-failure {
            color: #c90e0e;
        }

        #color-block-container {
            text-align: center;
            width: 80vh;
            height: 80vh;
            background-image: url("{% static "article_images/shelf.png" %}");
            background-repeat: no-repeat;
            background-position: right top;
            overflow: auto;
        }

        #projects-container {
            margin: auto auto 35em auto;
        }

        #projects-container .five.wide.column {
            align-self: auto !important;
        }

        .project-segment {
            background: none !important;
            border: none !important;
            box-shadow: none !important;
            font-size: 1.6em !important;
            line-height: 2em !important;
        }

        .project-segment .header {
            font-size: 1.7em !important;
        }

        .project-segment .meta {
            font-size: 0.5em !important;
            color: var(--TT-light-gray);
            margin-bottom: 1.3em;
        }

        .project-segment .description {
            font-size: 1.0em !important;
        }

        #contact-form > .field {
            margin-bottom: 4em;
        }

        #contact-form > .field > input {
            border: none;
            border-radius: 0px;
            border-bottom: 3px solid var(--TT-black);
        }

        #contact-form > .field > textarea {
            border-radius: 0px;
            border: 3px solid var(--TT-black);
        }

        #contact-submit-button {
            border-radius: 0px;
            border: 2px solid var(--TT-black);
        }

        #contact-segment {
            border-radius: 0px;
            border: none;
            box-shadow: none;
            margin: 0px;
            font-size: 2em;
            padding-top: 40rem;
            padding-bottom: 10rem;
        }

        #contact-segment .header {
            font-size: 1.5em;
            margin-bottom: 1.5em;
        }

        .white-font {
            color: white !important;
        }

        .black-background {
            background-color: var(--TT-black);
        }

        #header-block {
            position: relative;
            height: 105vh;
        }

        #header-block .container {
            height: 100%;
        }

        .header-background {
            position: absolute;
            top: 0;
            z-index: -10;
            width: 100%;
            height: 130vh;
        }

        .main-header {
            font-size: 6em;
        }

        #header-subtext {
            font-size: 40px;
            color: white;
        }

        #swt div {
            font-size: 40px;
            color: #919191;
            z-index: -12;
        }

        .section-container {
            height: 95vh;
            z-index: -11;
        }

        #contact-container {
            height: 80vh;
        }

        #topic-container {
            margin-top: 50vh;
            background: none;
            border: none;
            box-shadow: none;
        }

        .bw-image {
            filter: grayscale(1);
        }

        .project-link {
            color: var(--TT-light-blue);
            text-decoration: none;
            text-shadow:
                    0px -2px 0 var(--TT-black),  0px -1px 0 var(--TT-black),  0px 0px 0 var(--TT-black),
                    2px -2px 0 var(--TT-black),  2px -1px 0 var(--TT-black),  2px 0px 0 var(--TT-black),
                    -2px -2px 0 var(--TT-black), -2px -1px 0 var(--TT-black), -2px 0px 0 var(--TT-black),
                    1px -2px 0 var(--TT-black),  1px -1px 0 var(--TT-black),  1px 0px 0 var(--TT-black),
                    -1px -2px 0 var(--TT-black), -1px -1px 0 var(--TT-black), -1px 0px 0 var(--TT-black),
                    0px -2px 0 var(--TT-black),  0px -1px 0 var(--TT-black),  0px 0px 0 var(--TT-black);
            box-shadow:
                    0 -1px 0 0 var(--TT-black) inset,
                    0 -2px 0 0 transparent inset ;

            transition: all .3s ease-in;
            font-size: 1.1em;
        }

        .project-link::selection {
            color: var(--TT-black); background: var(--TT-light-blue);
            text-shadow: none;
        }

        .project-link:hover {
            transition: all .3s ease-out;
            color: var(--TT-light-gray);
            box-shadow:  0 -1px 0 0 var(--TT-black) inset, 0 -2px 0 0 var(--TT-light-gray) inset;
        }

    </style>
{% endblock content %}
