{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    {% if BUILT_JS %}
        <script src="{% static "js/built/static/js/utility/perlin.js" %}"></script>
    {% else %}
        <script src="{% static "js/utility/perlin.js" %}"></script>
    {% endif %}
{% endblock extra_head %}

{% block content %}
    <div id="header-block">
        <div class="ui text container grid middle aligned">
            <div class="middle aligned row">
                <div class="eight wide centered column">
                    <div class="ui header">
                        <h1 class="content main-header">
                            Trefts
                        </h1>
                    </div>
                    <div class="ui header">
                        <h1 class="content main-header">
                            Technologies.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-background">
            <perlin></perlin>
        </div>
    </div>

    <div class="ui container section-container" id="topic-container">
        <div class="ui stackable three column grid">
            <div class="middle aligned row">
                <div class="two wide column">
                </div>
                <div class="ten wide center aligned column">
                    <h1 class="ui huge header invertible">
                        Software engineering services for the web and more.
                    </h1>
                </div>
                <div class="two wide column">
                </div>
            </div>
        </div>
    </div>

    <div class="ui container section-container" id="projects-container">
        <div class="ui centered container stackable three column grid">
            <div class="middle aligned row">
                <div class="four wide column">
                    <div class="ui inverted segment">
                        <div class="content">
                            <div class="header">
                                Project 1
                                <div class="meta">
                                    January 2, 2019
                                </div>
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut dolor doloremque in odit officia quidem, quod sapiente sequi sit ut velit voluptates voluptatibus! Accusamus autem debitis deleniti dolorem vitae?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui inverted card">
                        <div class="content">
                            <div class="header">
                                Project 1
                                <div class="meta">
                                    January 2, 2019
                                </div>
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut dolor doloremque in odit officia quidem, quod sapiente sequi sit ut velit voluptates voluptatibus! Accusamus autem debitis deleniti dolorem vitae?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">
                                Project 1
                                <div class="meta">
                                    January 2, 2019
                                </div>
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut dolor doloremque in odit officia quidem, quod sapiente sequi sit ut velit voluptates voluptatibus! Accusamus autem debitis deleniti dolorem vitae?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container section-container" id="swt">
        <div class="ui centered container stackable four column grid">
            <div class="middle aligned row">
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id="python-icon" src="{% static 'icons/python.png' %}">
                    </div>
                </div>
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id='django-icon' src="{% static 'icons/django.png' %}">
                    </div>
                </div>
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id='javascript-icon' src="{% static 'icons/javascript.png' %}">
                    </div>
                </div>
                <div class="center aligned four wide column">
                    <div class="ui small image">
                        <img class="bw-image" id='c++-icon' src="{% static 'icons/c++.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container section-container" id="contact-form">
        <div class="ui header invertible">CONTACT ME</div>
    </div>

    <script>

        const project_section = $('#projects-container')
        const window_height = $(window).height()

        $(window.document).scroll( function () {
            const project_scroll_position = project_section.position().top
            const window_fraction = 5
            const min_position = project_scroll_position - ((window_fraction - 1) * window_height / window_fraction)
            const max_position = min_position + 2 * window_height
            let scroll_position = $(window).scrollTop()
            if (scroll_position > min_position && scroll_position < max_position) {
                $('body').addClass('black-background')
                $('.invertible').addClass('white-font')
            } else {
                $('body').removeClass('black-background')
                $('.invertible').removeClass('white-font')
            }
        })

    </script>

    <style>
        body {
            transition: background-color 0.6s ease;
        }

        .white-font {
            color: white !important;
        }

        .black-background {
            background-color: var(--TT-black);
        }

        #header-block {
            position: relative;
            height: 105vh;
        }

        #header-block .container {
            height: 100%;
        }

        .header-background {
            position: absolute;
            top: 0;
            z-index: -10;
            width: 100%;
            height: 110vh;
        }

        .main-header {
            font-size: 6em;
        }

        #header-subtext {
            font-size: 40px;
            color: white;
        }

        #swt div {
            font-size: 40px;
            color: #919191;
            z-index: -12;
        }

        .section-container {
            height: 95vh;
            z-index: -11;
        }

        #topic-container {
            margin-top: 50vh;
        }

        .bw-image {
            filter: grayscale(1);
        }

    </style>
{% endblock content %}
