{% load static %}
<html>
    <head>
        {% load google_analytics_tags %}
        <div style="display:none">
            <img src="{% google_analytics %}" width="0" height="0" />
        </div>
        {% if object.title %}
            <title>{{ object.title }}</title>
        {% else %}
            {% if page_title %}
                <title>{{ page_title }} - Trefts Technologes</title>
            {% else %}
                <title>Trefts Technologes</title>
            {% endif %}
        {% endif %}

        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="{% static "css/solarized-dark.css" %}">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block extra_head %}
    {% endblock extra_head %}

    </head>
    <body>
        <div class="ui small modal" id="login-modal">
            <div class="large header login-element">
                Log in to Trefts Technologies
            </div>
            <div class="large header registration-element inactive">
                Register on Trefts Technologies
            </div>
            <div class="content login-element">
                <form id="login_form" class="ui form" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" name="username" placeholder="Username" maxlength="30" id="login_username" autofocus>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" name="password" id="login_password">
                    </div>
                    <button type="submit" class="ui blue login button">Login</button>
                </form>
            </div>
            <div class="content registration-element inactive">
                <form class="ui form" id="registration_form" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <input type="text" name="username" placeholder="Username" maxlength="30" id="registration_username" autofocus>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" id="registration_password1" name="password1">
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Matching Password" id="registration_password2" name="password2">
                    </div>
                    <button type="submit" class="ui blue login button">Login</button>
                </form>
            </div>
            <div class="ui divider"></div>
            <div class="content login-element">
                <p>New to Trefts Technologies?  <button id="registration_menu_selector"class="ui inline basic blue button">Sign Up</button></p>
                <a href="/accounts/google/login" class="ui inline basic button google-button">
                    <img class="google-button-icon" src="{% static "icons/google-logo.png" %}">
                    <p>
                        Continue with Google
                    </p>
                </a>
            </div>
            <div class="content registration-element inactive">
                <p>Already have an account?  <button id="login_menu_selector" class="ui inline basic blue button">Login</button></p>
            </div>
        </div>

        <div class="navbar">
            <div class="button-group">
                {% if not home_nav %}
                    <a class="nav_item" href="{% url "pages:home" %}">Trefts Technologies.</a>
                {% endif %}
            </div>
            <div class="button-group">
                <a class="nav_item" href="{% url "articles:list" %}">Articles</a>
                {% if not user.is_authenticated %}
                <a id="login_menu" class="nav_item" href="#">Login</a>
                {% else %}
                    <div class="ui nav_item simple dropdown">
                        <a class="text user-dropdown-label" href="{% url "profiles:home" pk=user.pk %}">
                            {% if user.first_name %}
                                {{ user.first_name}}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </a>
                        <div class="menu">
                            <a class="item" href="{% url "account_logout" %}">Logout</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        {% block before_footer %}
        {% endblock before_footer %}

        <div class="footer-spacer"></div>

        <footer class="ui grid">
            <div class="ui container">
                <p class="center">&copy {% now 'Y' %} Trefts Technologies LLC, All Rights Reserved</p>
            </div>
        </footer>

        <script src="{% static "riot/bower_components/riot/riot.min.js" %}"></script>
        <script src="{% static "riot/all.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
        {% block extra_js %}
        {% endblock extra_js %}
        <script>
            print = function() {
                var args = Array.prototype.slice.call(arguments);
                console.log.apply(console, args);
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var TT = {}
            TT.user = {}
            TT.events = riot.observable()

            TT.user.pk = '{{ request.user.pk }}'
            TT.user.is_superuser = '{{ request.user.is_superuser }}' === 'True'
            var TT_blue = 'rgba(0, 38, 66, 1)'
            var TT_light_blue ='rgb(110, 207, 255)'
            var TT_red = 'rgba(132, 0, 50, 1)'
            var TT_yellow = 'rgba(229, 149, 0, 1)'
            var TT_brown = 'rgb(97, 67, 14)'
            var TT_cream = 'rgba(229, 218, 218, 1)'
            var TT_beige = 'rgba(188, 171, 174, 1)'

            TT.colors = [
                TT_blue,
                TT_light_blue,
                TT_red,
                TT_yellow,
                TT_brown,
                TT_cream,
                TT_beige,
            ]
            TT.colors.random = () => {
                function getRandomInt(min, max) {
                    min = Math.ceil(min);
                    max = Math.floor(max);
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }
                let max = TT.colors.length - 1
                return TT.colors[getRandomInt(0, max)]
            }



            riot.mount('*')

            function format_datestring(datestring) {
                let date = new Date(datestring)
                let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                return date.toLocaleDateString('en-US', options)
            }

            function getFormData($form){
                let unindexed_array = $form.serializeArray();
                let indexed_array = {};

                $.map(unindexed_array, function(n, i){
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }

            {% if not user.is_authenticated %}
            $('#login-modal').modal('attach events', '#login_menu', 'show')
            {% endif %}


            $('#login_form').form({
                fields: {
                    username: {
                        identifier: 'username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a username.',
                            },
                        ],
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a password.',
                            },
                        ],
                    },
                },
                inline: true,
                onSuccess: function (e) {
                    let login_form = $('#login_form')
                    let data = getFormData(login_form)
                    let csrf = data.csrfmiddlewaretoken
                    delete data.csrfmiddlewaretoken
                    $.ajax({
                        url: '{% url "api:rest_login" %}',
                        method : 'POST',
                        data: login_form.serialize(),
                        headers: {
                            'CSRF': csrf,
                        },
                    })
                        .done(function(data) {
                            window.location.reload()
                        })
                        .fail(function (data) {
                            console.log('api request failure')
                            let response = data.responseJSON
                            console.log(response)
                            for (var field in response) {
                                if (response.hasOwnProperty(field)) {
                                    login_form.form('add prompt', 'login_' + field, response[field])
                                    if (field === 'non_field_errors') {
                                        console.log(response[field])
                                        login_form.form('add prompt', 'login_password', response[field])
                                    }
                                }
                            }
                        })
                },
            })

            $('#registration_form').form({
                fields: {
                    username: {
                        identifier: 'username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a username.',
                            },
                        ],
                    },
                    password1: {
                        identifier: 'password1',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter a password.',
                            },
                        ],
                    },
                    password2: {
                        identifier: 'password2',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter your password again.',
                            },
                            {
                                type: 'match[password1]',
                                prompt: 'Passwords must match.'
                            },
                        ],
                    },
                },
                inline: true,
                onSuccess: function (e) {
                    let reg_form = $('#registration_form')
                    let data = getFormData(reg_form)
                    let csrf = data.csrfmiddlewaretoken
                    delete data.csrfmiddlewaretoken
                    $.ajax({
                        url: '{% url "api:rest_register" %}',
                        method : 'POST',
                        data: reg_form.serialize(),
                        headers: {
                            'CSRF': csrf,
                        },
                    })
                        .done(function(data) {
                            console.log('api request success')
                            window.location.href = '{% url "pages:home" %}'
                        })
                        .fail(function (data) {
                            console.log('api request failure')
                            let response = data.responseJSON
                            for (var field in response) {
                                if (response.hasOwnProperty(field)) {
                                    reg_form.form('add prompt', 'registration_' + field, response[field])
                                }
                            }
                        })
                },
            })

            $(document).ready(function () {

                $('#login_form').submit(function (e) {
                    e.preventDefault()
                })
                $('#registration_form').submit(function (e) {
                    e.preventDefault()
                })

                $(document).on('click', '#login_menu_selector', function (e) {
                    $('.registration-element').addClass('inactive')
                    $('.login-element').removeClass('inactive')
                })

                $(document).on('click', '#registration_menu_selector', function (e) {
                    $('.login-element').addClass('inactive')
                    $('.registration-element').removeClass('inactive')
                })

                let login_form = $('#login_form')
                let data = getFormData(login_form)
                let csrf = data.csrfmiddlewaretoken
            })

        </script>
        <style>
            :root {
                --TT-blue: rgba(0, 38, 66, 1);
                --TT-light-blue: rgba(110, 207, 255, 1);
                --TT-red: rgba(132, 0, 50, 1);
                --TT-yellow: rgba(229, 149, 0, 1);
                --TT-brown: rgb(97, 67, 14);
                --TT-cream: rgba(229, 218, 218, 1);
                --TT-beige: rgba(188, 171, 174, 1);
            }


            html, body {
                font-family: 'Roboto', sans-serif;
                font-weight: light;
                position: relative;
                height: auto;
            }


            .navbar {
                display: flex;
                justify-content: space-between;
                position: fixed;
                top: 0;
                width: 100%;
                height: 8%;
                z-index: 10;
            {% if home_nav %}
                background: none;
            {% else %}
                background: rgba(255, 255, 255, 0.9);
            {% endif %}
            }

            .button-group {
                display: flex;
                margin-top: 30px;
            }

            .nav_item {
                color: #222222;
                font-weight: bold;
                font-size: 2em;
                margin: 0 30px 0 30px;
                height: 1.5em;
            }

            .ui.small.modal {
                font-size: 1.5em;
            }

            .field > input {
                font-size: 1.3em !important;
            }

            .ui.button.login {
                font-size: 1.3em;
            }

            .user-dropdown-label {
                color: #222222;
            }

            .ui.dropdown > .menu {
                border: none;
                background: none;
            }

            .ui.dropdown > .menu > .item {
                color: #222222;
                font-weight: bold;
                font-size: 0.8em;
            }

            .inactive {
                display: none !important;
            }
            
            .center {
                text-align: center;
            }

            .google-button {
                color: rgba(0, 0, 0, 0.58);
                display: flex !important;
                width: 250px;
            }

            .google-button > p {
                margin-top: auto;
                margin-bottom: auto;
                font-size: 1.1em;
            }

            .google-button-icon {
                height: 18px;
                width: 18px;
                margin-right: 24px;
            }

            footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: black;
                color: white;
                height: 100px;
            }

            .footer-spacer {
                background: none;
                height: 100px;
            }

            footer .container {
                display: flex !important;
                flex-direction: column;
                justify-content: center;
            }

        </style
    </body>
</html>
